if [[ "$OSTYPE" == "linux-gnu" ]]; then
  export CONTAINER_HOST=localhost
elif [[ "$OSTYPE" == "darwin"* ]]; then
  export CONTAINER_HOST=$(docker-machine ip default)
fi

export MONGO_PORT=27020
export MONGO_HOST=$CONTAINER_HOST
export MONGO_DB=test
