<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>MapleStory IO | API Documentation</title>
    <meta name="description" content="An unofficial MapleStory API documentation for developers.">
    <meta name="author" content="Crrio">
    <meta property="og:url" content="http://maplestory.io/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="MapleStory IO | API Documentation" />
    <meta property="og:description" content="An unofficial MapleStory API documentation for developers." />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="content">
        <div class="intro-card">
          <span class="title">MapleStory IO</span><br/>
          <span class="sub-title">The unofficial MapleStory API Documentation for developers.</span>
        </div>
        <div class="api-calls">
          <div class="api-card">
            We have a public discord here: <a href="https://discord.gg/WhmT8dU">https://discord.gg/WhmT8dU</a>!
          </div>
        <% calls.map(function(call){ %>
          <%- include('../partials/APICall', call) %>
        <% }) %>
        </div>
        <div class="card">
        Item names, icons, descriptions, and character information thereof are the sole property of NEXON and therefor applies to their Terms of Use.
All in-game information is provided by a private source.
        </div>
      </div>
    </div>
  </body>
</html>